* {
    margin:0;
    padding:0;
    font-family: sans-serif; 
}
.banner{
    width:100%;
    height:320vh ;
    background-image: linear-gradient(rgba(19, 19, 21, 0.75),rgba(14, 14, 14, 0.75)),url(mobiles.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
	

}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: coral;*/
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.con1{
    font-size: 20px;
    margin-top: 80px;
    margin-left: 677;
    margin-bottom: -180;
    margin-top: 150;
}
.con1 p a{
    text-decoration: none;
    color: #fff;
}
.con1 p::after{
    content: '';
    position: absolute;
    background: #009688;
    left: 0;
    bottom: -10px;
    transition: -0.5s;
}
.con1 :hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 40px;
    margin-top: 80px;
}
.box1{
    width:200px;
    height: 220px; 
    background-image: linear-gradient(rgba(233, 245, 232, 0),rgba(224, 235, 235, 0)),url(oppo-f19-pro-plus.jpg);   
    background-size: cover;
    background-position: center;
    top: 30%;
    left: 25%;
    bottom: -10px;
    transform: translate(-50%,50%);
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 0 #0f9aa9;
    transition: 0.5s;
}
.box1:hover{
    width: 250px;
    height: 250px;
}

.box2{
    width:200px;
    height: 220px; 
    background-image: linear-gradient(rgba(233, 245, 232, 0),rgba(224, 235, 235, 0)),url(realme\ gt2\ pro.jpg);
    background-size: cover;
    background-position: center;
    top: 85%;
    left: 25%;
    bottom: -10px;
    position: absolute;
    transform: translate(-50%,50%);
    box-sizing: border-box;
    box-shadow: 0px 0px 0 #0f9aa9;
    transition: 0.5s;

}
.box2:hover{
    box-shadow: 18px 20px 0 #0f9aa9;
}
.box3{
    width:200px;
    height: 220px; 
    background-image: linear-gradient(rgba(233, 245, 232, 0),rgba(224, 235, 235, 0)),url(one\ plus.jpg);
    background-size: cover;
    background-position: center;
    top: 145%;
    left: 25%;
    bottom: -10px;
    position: absolute;
    transform: translate(-50%,50%);
    box-sizing: border-box;
    box-shadow: 0px 0px 0 #0f9aa9;
    transition: 0.5s;

}
.box3:hover{
    box-shadow: 18px 20px 0 #0f9aa9;
}
.box4{
    width:200px;
    height: 220px; 
    background-image: linear-gradient(rgba(233, 245, 232, 0),rgba(224, 235, 235, 0)),url(poco.jpg);
    background-size: cover;
    background-position: center;
    top: 205%;
    left: 25%;
    bottom: -10px;
    position: absolute;
    transform: translate(-50%,50%);
    box-sizing: border-box;
    box-shadow: 0px 0px 0 #0f9aa9;
    transition: 0.5s;
}
.box4:hover{
    box-shadow: 18px 20px 0 #0f9aa9;
}
.box5{
    width:200px;
    height: 220px; 
    background-image: linear-gradient(rgba(233, 245, 232, 0),rgba(224, 235, 235, 0)),url(samsung.jpg);
    background-size: cover;
    background-position: center;
    top: 265%;
    left: 25%;
    bottom: -10px;
    position: absolute;
    transform: translate(-50%,50%);
    box-sizing: border-box;
    box-shadow: 0px 0px 0 #0f9aa9;
    transition: 0.5s;

}
.box5:hover{
    box-shadow: 18px 20px 0 #0f9aa9;
}
a{
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
}
button{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    align-content: left;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}

.btn2{
    box-shadow: 8px 10px 0 #da80b3;
}

.con1 button{
    color: white;
    background-color: rgb(219, 120, 225);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 2px;
    animation: shake 2s ease infinite;
}
.con1 button:hover{
    color: rgb(51, 48, 47);
}
.shake {
    animation: shake 2s ease infinite;
  }
  @keyframes shake {
      0%, 100% {transform: translateX(0);}
      10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
      20%, 40%, 60%, 80% {transform: translateX(10px);}
  }